<%- include('../partials/header') %> 
<%- include('../partials/menu') %>
<br><br>
<form action="/review_results" method="post" class="d-flex" id="reviewsSearchbar">
    <input class="form-control me-2" name="reviewSearchInput" type="search" placeholder="Filter reviews by name" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Filter</button>
    
</form>


<%  if(data) { %>

    
    <br>
    <br>
    <br>
    <div class="container" id="reviewContainer">
        <table class="table table-dark">
            <thead>
              <tr>
                
                <th scope="col">Meal Name</th>
                <th scope="col">Review</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>


                
                  
                    <% data.forEach(function(item){ %>
                        <tr><td><%=item.meal_name%></td> <td><%=item.review%></td><td><%=item.review_date%></td></tr>

                        

                
                
                <% }); %>
                
             
            </tbody>
          </table>

    </div>
    

<% } %>




<%- include('../partials/footer'); -%>